body {
    font-family: 'Nunito Sans', serif;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--icon-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ahora el formulario estará más arriba */
    height: 100vh;
    padding-top: 50px; /* Añadimos un espacio superior */
}

.formulario {
    width: 400px;
    background: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /*Sombra de la caja de formulario inicio de sesión*/
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-tittle-color);
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

.username, .contraseña {
    position: relative;
    border-bottom: 2px solid var(--border-color);
    margin: 30px 0;
}

.username input, .contraseña input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: var(--icon-color);
}

.username label, .contraseña label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: var(--icon-menu-color);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username input:focus ~ label,
.contraseña input:focus ~ label,
.username input:valid ~ label,
.contraseña input:valid ~ label {
    top: -5px;
    font-size: 12px;
    color: var(--text-selected-color);
}

.recordar {
    margin: -5px 0 20px 5px;
    color: var(--text-selected-color);
    cursor: pointer;
}

.recordar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: var(--text-tittle-color);
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--text-selected-color);
}

.registrarse, .iniciar-sesion {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: var(--icon-color);
}

.registrarse a, .iniciar-sesion a {
    color: var(--text-selected-color);
    text-decoration: none;
}

.registrarse a:hover, .iniciar-sesion a:hover {
    text-decoration: underline;
}